<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<title></title>
	
</head>
<body>

	<div class="star-rating">
		<div>
			<i class="id0c fas fa-star"></i>
			<i class="id0a fas fa-star"></i>
			<i class="id0a fas fa-star-half"></i>
			<i class="id0b fas fa-star"></i>
			<i class="id0b fas fa-star-half"></i>
			<div class="val-div"><input type="hidden" value="1"/></div>		
			<div class="val-div"><input type="hidden" value="2"/></div>
		</div>
		<div>
			<i class="id0c fas fa-star"></i>
			<i class="id0a fas fa-star"></i>
			<i class="id0a fas fa-star-half"></i>
			<i class="id0b fas fa-star"></i>
			<i class="id0b fas fa-star-half"></i>
			<div class="val-div"><input type="hidden" value="3"/></div>		
			<div class="val-div"><input type="hidden" value="4"/></div>
		</div>
		<div>
			<i class="id0c fas fa-star"></i>
			<i class="id0a fas fa-star"></i>
			<i class="id0a fas fa-star-half"></i>
			<i class="id0b fas fa-star"></i>
			<i class="id0b fas fa-star-half"></i>
			<div class="val-div"><input type="hidden" value="5"/></div>		
			<div class="val-div"><input type="hidden" value="6"/></div>
		</div>
		<div>
			<i class="id0c fas fa-star"></i>
			<i class="id0a fas fa-star"></i>
			<i class="id0a fas fa-star-half"></i>
			<i class="id0b fas fa-star"></i>
			<i class="id0b fas fa-star-half"></i>
			<div class="val-div"><input type="hidden" value="7"/></div>		
			<div class="val-div"><input type="hidden" value="8"/></div>
		</div>
		<div>
			<i class="id0c fas fa-star"></i>
			<i class="id0a fas fa-star"></i>
			<i class="id0a fas fa-star-half"></i>
			<i class="id0b fas fa-star"></i>
			<i class="id0b fas fa-star-half"></i>
			<div class="val-div"><input type="hidden" value="9"/></div>		
			<div class="val-div"><input type="hidden" value="10"/></div>
		</div>
		

	</div>


</body>
</html>
