@charset "EUC-KR";


#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

.modal {
	overflow-y: auto;
}

.modal-body-my {
	border-top: 1px solid gray;
}

.fa-star, fa-star, .fa-star-half-alt {
    color: orange;
}

@media ( max-width : 767px) {
	.search-box {
		max-width: 100%;
	}
	
}

@media ( min-width : 768px) {
	.search-box {
		max-width: 500px !important;
	}
	
	
}