<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.mw.vo.User" alias="user"/>
		<typeAlias type="com.mw.vo.Item" alias="item"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/mw/dao/config/usermapper.xml"/>
		<mapper resource="com/mw/dao/config/itemmapper.xml"/>
	</mappers>
</configuration>






