<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mw.dao.mapper.SpotMapper">

	<select id="select" parameterType="String" 
	resultType="spot">
		SELECT * FROM TSPOT WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="spot">
		SELECT * FROM TSPOT
	</select>
	<insert id="insert" parameterType="spot">
		INSERT INTO TSPOT VALUES (#{id},#{name},#{price},#{imgname})
	</insert>
	<update id="update" parameterType="spot">
		UPDATE TSPOT SET NAME=#{name},PRICE=#{price},IMGNAME=#{imgname} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM TSPOT WHERE ID=#{id}
	</delete>
	
</mapper>






